# Virtual Environment (The cause of your 100MB error)
.venv312/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Large model files (If you download FinBERT weights locally)
*.bin
*.pt

.vscode/

frontend/node_modules/